Source: xdg-desktop-portal-kde
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12),
               dbus-x11,
               debhelper (>= 11~),
               extra-cmake-modules (>= 5.18.0~),
               libkf5coreaddons-dev,
               libkf5i18n-dev,
               libkf5notifications-dev,
               pkg-kde-tools (>= 0.15.18~),
               qtbase5-dev (>= 5.4.0~),
               qtbase5-private-dev,
Standards-Version: 4.1.2
Homepage: https://cgit.kde.org/xdg-desktop-portal-kde.git/
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/plasma/xdg-desktop-portal-kde.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/xdg-desktop-portal-kde.git

Package: xdg-desktop-portal-kde
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: backend implementation for xdg-desktop-portal using Qt
 xdg-desktop-portal-gtk provides a Qt implementation for the
 desktop-agnostic xdg-desktop-portal service. This allows sandboxed
 applications to request services from outside the sandbox using KDE
 GUIs (app chooser, file chooser, print dialog) or using KDE services
 (session manager, screenshot provider).
